$primary-color: #393e46;
$secondary-color: #222831;
$third-color: #00adb5;

.background {
  box-sizing: border-box;
  position: fixed;
  height: 100vh;
  min-width: 100vw;
  background: linear-gradient($primary-color, #393e46dc),
    url("./assets/stylish-hexagonal-line-pattern-background_1017-19742.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.EnterPage {
  .logo {
    height: 0%;
    padding-left: 1.5rem;
    img {
      position: fixed;
      width: 40%;
      filter: invert(70%) opacity(40%);
    }
    .text {
      position: fixed;
      bottom: -3rem;
      opacity: 50%;
      font-size: 8rem;
      font-weight: 500;
      color: $third-color;
      cursor: default;
    }
  }
  .divider {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
    .slogan {
      color: white;
      font-size: 4rem;
      font-weight: 700;
      position: relative;
      width: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: default;
    }
    .form-container {
      position: relative;
      width: 20rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.137);
      border-radius: 8px;
      padding: 12px;
      .button-container {
        width: 60%;
        display: flex;
        justify-content: space-between;
      }
      .form {
        background-color: white;
        border-radius: 8px;
        padding: 12px;
        .button-container2 {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.AppPage {
  overflow-y: scroll;
  .divider {
    width: 75rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 3rem;
  }
}

.navbar {
  margin: 1rem 2rem 2.5rem 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: $third-color;
  font-weight: 500;
  align-items: center;
  overflow-x: hidden;
  .logo {
    display: flex;
    img {
      width: 3rem;
      margin-right: 0.3rem;
      cursor: default;
      filter: invert(60%);
    }
    .text {
      cursor: default;
    }
  }
  .dropdown {
    display: flex;
    transform: translateX(6rem);
    transition: ease 400ms;
    .username {
      cursor: pointer;
      margin-right: 1rem;
    }
    .dropdownContent {
      opacity: 0;
      float: right;
      width: 5rem;
      height: 2.4rem;
      border-radius: 7px;
      transition: ease 600ms;
      .logout {
        background-color: #222831e1;
        color: rgba(255, 255, 255, 0.719);
        font-weight: 600;
        border: none;
      }
    }
  }
  .dropdown:hover {
    transform: translateX(0px);
    .username {
      color: #00d3df;
    }
    .dropdownContent {
      opacity: 1;
      .logout:hover {
        background-color: #222831;
        color: white;
      }
    }
  }
}

.categoryBar {
  background-color: #222831e1;
  width: 16rem;
  height: fit-content;
  border-radius: 6px;
  .header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    margin-top: 0.5rem;
    h5 {
      color: $third-color;
    }
    img {
      width: 2rem;
    }
  }
  .card-container {
    width: fit-content;
    max-height: 32rem;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  .card-container::-webkit-scrollbar {
    display: none;
  }
}

img {
  filter: invert(80%);
  cursor: pointer;
  width: 1rem;
}
img:hover {
  filter: invert(100%);
}

.cardSize {
  height: 8rem;
  width: 14rem;
  margin: 1rem;
  margin-top: 0px;
  background-color: $primary-color;
  border-radius: 6px;
  color: white;
  font-size: 1.2rem;
}

.cardForm {
  img {
    width: 0.8rem;
    margin: 10px;
    margin-bottom: 0px;
    float: right;
  }
  input, select {
    background-color: $primary-color;
    color: white;
    width: 92%;
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  input:focus, select:focus {
    outline: none;
  }
  .button {
    background-color: $secondary-color;
    opacity: 0.7;
    border-radius: 6px;
    width: 95%;
    top: 30%;
    cursor: pointer;
  }
  .button:hover {
    opacity: 0.9;
  }
}
.Edit {
  select {
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
  }
  .button {
    top: 0%;
  }
}

.taskCard {
  padding: 8px;
  .title {
    margin-top: 4px;
  }
  .detail {
    font-size: 0.8rem;
  }
  .button-container {
    width: 36%;
    display: flex;
    justify-content: space-between;
    position: relative;
    float: right;
    top: 20%;
    opacity: 0;
  }
  .dua {
    width: 22%;
  }
}
.taskCard:hover {
  .button-container {
    opacity: 1;
  }
}